<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">New Event</h1>
    <div class="col-6 offset-3">
        <form action="/events" method="POST" novalidate class="validated-form" >
            <div class="mb-3">
                <label class="form-lable" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="events[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        
            <div class="mb-3">
                <label class="form-lable" for="date">Date</label>
                <input class="form-control" type="text" id="date" name="events[date]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        
            <div class="mb-3">
                <label class="form-lable" for="duration">Duration</label>
                <input class="form-control" type="text" id="duration" name="events[duration]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        
            <div class="mb-3">
                <label class="form-lable" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="events[description]" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-lable" for="zoomlink">Zoom Link</label>                
                <input class="form-control"  type="text" id="zoomlink" name="events[zoomlink]" required>              
                <div class="valid-feedback">
                    Looks good!
                </div>                
            </div>
            
            <div class="mb-3">
                <label class="form-lable" for="eventimage">Image Url</label>
                <input class="form-control" type="text" id="eventimage" name="events[eventimage]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <% if(currentUser._id== '64b4881de5fd48f8dc06b142') {%>
                <div class="mb-3">
                    <button class="btn btn-success">Add Event</button>
                </div>
            <%} %> 

        </form>
        
        <div class="mb-3">
            <a href="/events">All Events</a>
        </div>    
        

    </div>
</div>





