
<%- layout('layouts/boilerplate') %>
<div>

    <h3>About Us</h3>
    <p>
        <h5>What do we do</h5>
        <p>
           We create an environment where children are able to learn about and explore the world around them. At OBF, 
           we encourage children to read books from all around the globe and understand as a whole, breaking free of one’s own comfort zone. 
        </p>

        <h5>Who we are</h5>
        <p>
            We are a non-profit organization of passionate learners. We run programs to encourage children to read and understand the world around them 
            using books and sharing experiences from all over the globe. Our Reading Room group allows children to follow a read-along book that shows a different 
            part of the world each time, and our Open the World Program shares experiences and cultures from many regions on the globe. With these programs, 
            we believe our children will be able to understand and learn from the many experiences that are shared.
            We are world explorers, curious learners, books worms, and much more!
        </p>

        <h5>Our Mission</h5>
        <p> Our mission is to create more opportunities for young children to read and learn more about the world that they live in
        </p>

    </p>
    <p></p>
    <p> <hr> </p>
    <p></p>
</div>


<div class="row row-cols-1 row-cols-md-2 g-2 mb-3">
    <div class="col">
      <div class="card h-100">
        <img src="../images/20.jpg" class="card-img-top" alt="wordwild" height="500px">
        <div class="card-body">
          <h5 class="card-title">World Wide Introduction</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aspernatur deserunt aliquam est in labore accusantium explicabo! Magnam odio nulla asperiores, ratione nisi, hic, eum deserunt repellendus animi cumque porro.</p>
          <a class="btn btn-primary" href="/events">World Wide Introduction</a>
        </div>
      </div> 
    </div>
    <div class="col ">
      <div class="card h-100">
        <img src="../images/22.jpg" class="card-img-top" alt="bookreading" height="500px">
        <div class="card-body">
          <h5 class="card-title">Book Reading Room</h5> 
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a class="btn btn-primary" href="/readingroom">Go to Book Reading Room</a>
        </div>
      </div>
    </div>
    <!--<div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">World Wide Introduction</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eos mollitia corporis adipisci? Quae laborum tempora dolores. Cumque earum quia expedita. Suscipit perferendis quia at quos architecto sit, fugiat veritatis?</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>-->
</div>

<!--<div class="card" mb-3 mt-3>
    <div class="row">
        <div class="col-md-4">
            <img src="../images/13.jpg" alt="WorldWide" class="img-fluid" >
        </div>

        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">World Wide Introduction</h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, ea. Dolorum fugiat, delectus est porro deserunt sed in aliquam itaque quod fugit iste. Sunt tenetur animi itaque perspiciatis, numquam libero.
                </p>
                <a class="btn btn-primary" href="/events">World Wide Introduction</a>
            </div>
        </div>
    </div>
</div>

<div class="card" mb-3>
    <div class="row">
        <div class="col-md-4">
            <img src="../images/18.jpg" alt="StudyRoom" class="img-fluid">
        </div>

        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Books Reading Room</h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, ea. Dolorum fugiat, delectus est porro deserunt sed in aliquam itaque quod fugit iste. Sunt tenetur animi itaque perspiciatis, numquam libero.
                </p>
                <a class="btn btn-primary" href="/readingroom">Go to Book Reading Room</a>
            </div>
        </div>
    </div>
</div>

<div class="card" mb-3>
    <div class="row">
        <div class="col-md-4">
            <img src="../images/16.jpg" alt="SelfStudy" class="img-fluid" style="height: 500px">
        </div>

        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Self Study Room</h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, ea. Dolorum fugiat, delectus est porro deserunt sed in aliquam itaque quod fugit iste. Sunt tenetur animi itaque perspiciatis, numquam libero.
                </p>
                <a class="btn btn-primary" href="/studyroom">Go to Self Study Room</a>
            </div>
        </div>
    </div>
</div> -->